*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

header{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    background: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    gap: 5rem;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    color: #fff;
}

.logo{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    color: #ff3e00;
    transform: scale(1.1);
}

.nav-links{
    display: flex;
    gap: 2rem;
}

li a{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    position: relative;
}

li a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 25px;
    width: 0;
    height: 5px;
    border-radius: 1rem;
    background: #007bff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

li a:hover{
    color: #007bff;
}

.visit-btn{
    padding: 0.5rem 1.5rem;
    background: #007bff;
    color: #fff;
    border-radius: 3rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.visit-btn:hover{
    background: #fff;
    color: #007bff;
    transform: scale(1.1);
}

.menu-icon{
    display: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

section{
    padding: 8rem 12%;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.about{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.about .about-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about img{
    width: 30vw;
    border-radius: 50%;
}

.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3{
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1{
    font-size: 4rem;
    font-weight: 600;
}

.info-box span{
    background: #007bff;
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
}

.btn-group{
    display: flex;
    gap: 1rem;
}

.btn{
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid #007bff;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    background: black;
    color: #fff;
}

.socials{
    display: flex;
    gap: 1rem;
}

.socials i{
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
}

.socials i:hover{
    color: #007bff;
    transform: scale(1.2);
}